/* Global */
html {
    font-size:62.5%;
    font-family:Roboto, Poppins, serif;
}
body {
    font-size: 1.8rem;
    line-height: 1.5;
    background-color:#fdfdfd;
}
body::before {
    content: '';
    position: fixed;
    width:100%;
    height:100%;
    z-index: -1;
    background-image:url(../assets/img/background.png);
}
#main {
    position:relative;
    width: 65%;
    margin: 4rem auto;
    padding: 1.5rem;
    color: #3a3a3a;
    background-color: #f3f3f3;
    padding:0 5%;
    border-radius:1rem;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12)
}
a:visited {
    color:hsl(0, 0%, 0%);
    opacity:1;
}

/*Headings*/
h1, h2 {
    font-family:Roboto;
}
h1 {
    font-size:3.8rem;
}
h2 {
    font-size:3rem;
}
/*Utilities*/
.centertext {
    text-align:center;
}

/*Header*/

header {
    position:relative;
    margin-top: -2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
h1 {
    font-family:Poppins;
    font-weight:700;
    margin-bottom:-2.2rem;
    letter-spacing:.9rem;
    text-transform:uppercase;
    text-align:center;
}
#title a {
    color: #4d4d4d;
    text-decoration:none;
}
#title a:hover {
    animation-name:luz-in;
    animation-duration:300ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
}
@keyframes luz-in {
    100% {
        color: #3a3a3a;;
        display:flex;
    }
}
h1:hover::after {
    position:relative;
    content:"";
    display:flex;
    flex-direction:column;
    top:.25rem;
    width:100%;
    height:0.5rem;
    margin-top:-1rem;
    margin-bottom:.5rem;
    justify-content:center;
    background-color:#e22d3a;
    animation-name:luz-in2;
    animation-duration:600ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
    opacity:0;
}
@keyframes luz-in2 {
    100% {
        color:#e22d3a;
        opacity:1;
    }
}
header p {
    position:relative;
}


/** Image **/
#img-div {
    display:flex;
    position:relative;
    flex-direction:column;
    align-items:center;
    background-color:#fdfdfd;
    padding:1.5rem 4rem;
    border-radius:1rem 1rem 0 0;
    margin:-1rem -3rem;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12)
}
#img-div img {
    max-width:96.7rem;    
    height:auto; /*Important for responsive web purposes*/
    border-radius:1rem 1rem 0 0;
    display:flex;
    justify-content:center;
    width:100%;
}
#img-caption {
    text-align:center;
    font-size:80%;
    font-style:italic;
    opacity:.65;
}
a{
    color:#3a3a3a;
    text-decoration:none;
}
a:hover{
    animation-name:luz-in;
    animation-duration:300ms;
    animation-fill-mode:forwards;
}
/** List **/
.dots {
    letter-spacing: 1rem;
}
.tribute-info {
    font-family:Poppins;
    line-height:1.5;
}
.tribute-info h2 {
    letter-spacing:.4rem;
}
.tribute-info ul {
    display:flex;
    flex-direction:column;
    list-style: circle;
    list-style-position: inside;
}
.tribute-info ul li {
    margin-bottom: 2.5rem;
}
/**Quote**/
#quote {
    display:flex;
    flex-direction:column;
    width:45rem;
    position:relative;
    margin: auto;
    margin-top:-5rem;

}
blockquote {
    font-family:Roboto;
    font-size:1.8rem;
    font-style:italic;
}
blockquote::before {
    content:"";
    background-image:url(/assets/icons/comilla.svg);
    display:block;
    width:4rem;
    height:4rem;
    position:relative;
    right:5rem;
    top:2rem;
}
#quote p {
    padding-bottom:4rem;
}
h4 {
    margin-top: -3.5rem;
}
/**Footer**/
.footer {
    display:flex;
    flex-direction:column;
    align-content: center;
}
.footer p {
    margin-bottom:0px;
}
#signature {
    display:inline-block;
    position:relative;
    left:1rem;
    margin-top:-.5rem;
    margin-right:20px;
    margin-bottom:1rem;
    margin-left:20px;
    font-size:1.2rem;
    letter-spacing:1.2rem;
    text-decoration:none;
    color:#000;
}
#signature:hover {
    animation-name:shrink;
    animation-duration:500ms;
    animation-fill-mode:forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes shrink {
    100% {
        letter-spacing:0rem;
    }
}
/* Media Query */
@media (max-width: 550px) {
    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    span {
        letter-spacing:1.5rem;
    }
    #main {
        width:90%;
    }
    #img-div {
        margin:-1.5rem -2rem;
    }
    #img-div img {
        width:110%;
    }
    #img-caption {
        font-size:1.5rem;
}