/* Global */
html {
    font-size:62.5%;
    font-family:Roboto, Poppins, serif;
}
body {
    position:relative;
    font-size: 2rem;
    line-height: 1.5;
    background-color:fefefe;
}
main {
    position:relative;
    max-width: 65%;
    margin: 4rem auto;
    color: #3a3a3a;
    background-color: #f9f9f9;
    padding:0 15%;
    border-radius: 2rem;
}
img {
    max-width:100%; 
    height:auto; /*Important for responsive web purposes*/
}
a:visited {
    color:hsl(0, 0%, 0%);
    opacity:1;
}
/*Headings*/
h1, h2 {
    font-family:Roboto;
}
h1 {
    font-size:3.8rem;
}
h2 {
    font-size:3.4rem;
}
/*Encabezado*/
h1 {
    margin-bottom:5rem;
}
#title a {
    color: #3a3a3a;
    text-decoration:none;
}
#title a:hover {
    animation-name:luz-in;
    animation-duration:300ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
}
@keyframes luz-in {
    100% {
        color:#ababab;
        display:flex;
    }
}
header {
    position:relative;
    margin-top: -2rem;
    display:flex;
    flex-direction:column;
    align-items:center; /* This one snippet is centering my text */
}
header p {
    margin-top:-3.2rem;
    position:relative;
}
h1:hover::after {
    position:relative;
    content:"";
    display:flex;
    flex-direction:column;
    width:100%;
    height:0.5rem;
    margin-top:-1rem;
    margin-bottom:0.5rem;
    justify-content:center;
    background-color:#ababab;
    animation-name:luz-in2;
    animation-duration:600ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
    opacity:0;
}
@keyframes luz-in2 {
    100% {
        color:#ababab;
        opacity:1;
    }
}
/* Image */
#img-div {
    background-color:#fefefe;
    padding:4rem;
    border-radius:15px;
    margin-top:-1rem;
}
@media (max-width 800px) {
    img {
        width:90rem;
    }
}
#img-caption {
    text-align:center;
    font-size:80%;
    font-style:italic;
    opacity:.65;
}
#img-caption a{
    color:#3a3a3a;
    text-decoration:none;
}
#img-caption a:hover{
    animation-name:luz-in;
    animation-duration:300ms;
    animation-fill-mode:forwards;
    text-decoration:none;
}
